streamlit
streamlit-cropper
numpy
pandas
opencv-python-headless
Pillow
requests
# For torch, specify the CPU version for compatibility with Streamlit Cloud
# Find the correct wheel for your Python version at https://download.pytorch.org/whl/cpu/torch_stable.html
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.1.0+cpu