streamlit
streamlit-cropper
numpy
pandas
opencv-python-headless
Pillow
requests
# For torch, specify the CPU version for compatibility with Streamlit Cloud

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu